.container {
    width: 100%;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
}

.toggle > span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.icon {
    transition: transform 200ms ease-out;

    &.open {
        transform: rotateX(180deg);
    }
}

.settings {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;

    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-property: visibility, max-height, padding, overflow;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: var(--a-gray-200);
    border-radius: var(--a-border-radius-medium);
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;

    &.open {
        max-height: 150px;
        visibility: visible;
        padding: 0.5rem;
        overflow: visible;
    }
}

.radioGroups {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.searchFields {
    display: flex;
    align-items: center;
}

.topRight {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}