.hit {
    display: flex;
    flex-direction: column;
    padding: 0.125rem;
    background-color: var(--ax-brand-blue-100);
    border-radius: var(--ax-radius-4);

    &:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}

.path {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
