.search {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.toggleButton {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    align-self: flex-start;
}

.chevronOpen {
    transform: rotateX(180deg);
}

.radioGroupWrapper {
    margin-top: 0.5rem;
    padding: 0.75rem;
    background-color: var(--a-surface-subtle);
    border-radius: 0.5rem;
}
