.wrapper {
    height: 100%;
    padding: 1rem;
    background-color: var(--a-surface-neutral);
}

.iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.fullscreenButton {
    position: absolute;
    bottom: 0.25rem;
    right: 1.5rem;
}

.loaderWrapper {
    position: absolute;
    margin: 1rem;
    background-color: var(--a-surface-subtle);
    opacity: 0.8;
    border: 3px solid var(--a-border-default);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
