.wrapper {
    height: 100%;
    padding: 1rem 1rem 0;
    background-color: var(--ax-bg-neutral-strong);
}

.iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.loaderWrapper {
    position: absolute;
    margin: 1rem;
    background-color: var(--ax-bg-neutral-soft);
    opacity: 0.8;
    border: 3px solid var(--ax-border-neutral);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versionBar {
    display: flex;
    justify-content: space-between;
}

.versionButton {
    background-color: white;
}

.activeVersionButton {
    color: var(
        --ac-button-secondary-active-text,
        var(--__ac-button-secondary-active-text, var(--ax-text-accent-contrast))
    );
    background-color: var(
        --ac-button-secondary-active-bg,
        var(--__ac-button-secondary-active-bg, var(--ax-bg-accent-strong-pressed))
    );
    box-shadow: none;
}

.versionsAndContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}
