.wrapper {
    height: 100%;
    padding: 1rem 1rem 0;
    background-color: var(--ax-bg-accent-soft);
}

.iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.loaderWrapper {
    position: absolute;
    margin: 1rem;
    background-color: var(--ax-bg-neutral-soft);
    opacity: 0.8;
    border: 3px solid var(--ax-border-neutral);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versionBar {
    display: flex;
    justify-content: space-between;
}

.versionsAndContent {
    display: flex;
    height: 100%;
}

.content {
    flex-grow: 2;
}
