.archiveSelector {
    margin-left: 20px;

    :global(.navds-tabs__tab[aria-selected='true']) {
        background-color: var(--a-purple-400);
        box-shadow: none;
    }
}

.tab {
    color: white !important;

    &:hover {
        box-shadow: inset 0 -3px 0 0 var(--a-purple-400);
    }
}
