@navikt:registry=https://npm.pkg.github.com
engine-strict=true
minimum-release-age=10080
# Temporarily exclude some packages from minimum release age to unblock releases while we migrate
minimum-release-age-exclude[]=react-xml-viewer
minimum-release-age-exclude[]=bare-fs
minimum-release-age-exclude[]=@types/node
