.mainContent {
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 0 0.25rem;
}

.left {
    display: flex;
    align-items: center;
    svg {
        margin-right: 0.5rem;
    }
}