.versionSelector {
    flex: 1;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.heading {
    display: flex;
    gap: 0.5rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.versionList {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    min-height: 0;
    overflow-y: auto;
}

.versionButton {
    position: relative;
    display: grid;
    grid-template-columns: [version-chosen-icon] 24px [version-info] 1fr;
    justify-items: start;
    :global(.aksel-label) {
        grid-column: version-info;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--ax-border-neutral);
    }

    &:last-child::after {
        display: none;
    }
}

.closeButton {
    position: sticky;
    bottom: 1rem;
    margin-top: 1.75rem;

    width: fit-content;
    border-radius: 99px;
    background-color: var(--ax-bg-default);
    align-self: center;
}

.unpublished {
    background-color: var(--ax-bg-neutral-strong);
    white-space: nowrap;
    padding: 0.25rem 0.75rem;
    border-radius: 10rem;
    font-weight: 400;
    display: inline;
    margin-left: 0.5rem;
}
