.versionList {
    display: flex;
    flex-direction: column;
}

.versionButton {
    color: var(--a-text-default);
    justify-content: space-between;
    border-bottom: 1px solid var(--a-border-subtle);

    :global(.navds-label) {
        font-weight: var(--a-font-weight-regular);
    }

    :global(.navds-button__icon) {
        color: var(--a-icon-action-selected);
    }

    &:last-child {
        border-bottom: none;
    }
}

.selected {
    background-color: var(--a-surface-selected);

    :global(.navds-label) {
        font-weight: var(--a-font-weight-bold);
    }
}
