.versionList {
    display: flex;
    flex-direction: column;
}

.versionButton {
    color: var(--a-text-default);
    justify-content: space-between;

    :global(.navds-button__icon) {
        color: var(--a-icon-action-selected);
    }
}

.selected {
    background-color: var(--a-surface-selected);
}
