.path {
    color: var(--a-gray-600);
    margin-bottom: 0.25rem;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: flex-end;
}

.header {
    margin-bottom: 0.5rem;
}
