.toggle {

}

.disabled {
    color: var(--a-gray-400);
    cursor: not-allowed;
}

.topRow {
    margin: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}