.wrapper {
    padding: 0 0.5rem;
    background-color: var(--a-white);
    min-height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentList {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}