.outer {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    background-color: var(--a-white);
    height: 100%;
    overflow-y: hidden;
}

.topRow {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.mainRow {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0.5rem 0.5rem;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.search {
    width: 100%;
    margin-left: 1rem;
}

.notFound {
    width: 100%;
    margin-top: 0.5rem;
}

.path {
    color: var(--a-gray-600);
    margin-top: 0.5rem;
}

.title {
    margin-top: 0.25rem;
}

.contentList {
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
    width: 100%;
}

.maxContentAlert {
    margin-top: auto;
}

.paginator {
    padding: 0.5rem 0 1rem 0;
    align-self: center;
}