.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.5rem;
    background-color: var(--a-white);
    min-height: 100%;
}

.topRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.25rem 0;
}

.search {
    width: 100%;
    margin-left: 1rem;
}

.notFound {
    width: 100%;
    margin-top: 0.5rem;
}

.title {
    margin-top: 0.5rem;
}

.contentList {
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
}

.bottomSection {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;
    margin-top: auto;
    align-self: center;

    & > :not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.paginator {
    margin-top: 1rem;
    align-self: center;
}