.content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.top {
    background-color: var(--a-surface-subtle);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.versionSelector {
    display: flex;
    flex-direction: column;
}

.versionButton {
    background-color: white;
}

.versionAndViewWrapper {
    display: flex;
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    width: 100%;
    justify-content: space-between;
}

.viewSelectorWrapper {
    display: flex;
    gap: 1rem;
}

.titleAndUrl {
    display: flex;
    gap: 1rem;
    padding: 1rem 1.5rem;
    align-items: center;
}

.url {
    background-color: var(--a-deepblue-100);
    height: fit-content;
    padding: 0.25rem 0.75rem;
    border-radius: 10rem;
}
