.content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.top {
    background-color: var(--ax-bg-neutral-soft);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.heading {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.url {
    word-break: break-all;
}

.archivedOrUnpublished {
    background-color: var(--ax-neutral-400);
    white-space: nowrap;
    padding: 0.25rem 0.75rem;
    border-radius: 10rem;
}
