.wrapper {
    padding: 1rem;
}

.downloadBar {
    position: fixed;
    bottom: 0;
    background-color: var(--a-surface-neutral);
    width: 100%;
}

.button {
    margin: 0.5rem;
    background-color: var(--a-surface-default);
}
