.wrapper {
    max-height: calc(100% - 176px);
    overflow-y: auto;
    padding: 1rem;
}

.checkboxHeading {
    display: flex;
    gap: 0.5rem;
}

.downloadBar {
    position: fixed;
    bottom: 0;
    background-color: var(--a-surface-neutral);
    width: 100%;
}

.button {
    margin: 0.5rem;
    background-color: var(--a-surface-default);
}
