.exporter {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
}

.hidden {
    display: none;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--a-gray-400);
    margin-bottom: 0.75rem;
    padding: 0.5rem 0;
}

.downloadCurrentButton {
    margin-right: 0.5rem;
}

.downloadCurrentIcon{
    transform: rotate(-90deg);
}

.checkboxGroup {
    margin: 0.25rem 0;
    overflow-y: scroll;
    scrollbar-width: thin;

    :global(.navds-checkbox__label) {
        padding: 0.1875rem;
    }
}

.downloadAllButton {
    align-self: flex-start;
    margin: 0.25rem;
}