.content {
    grid-area: main;

    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 1rem;
    background-color: var(--a-surface-subtle);
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.main {
    height: 100%;
    margin-top: 1rem;
}
