.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hit {
    display: flex;
    cursor: pointer;
    padding: 6px;
    background-color: var(--a-surface-subtle);
    border-radius: 4px;
}

.hitSelected {
    background-color: var(--a-surface-selected);
}
