.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    /*border: solid 2px var(--a-border-action);*/
    border-radius: var(--a-border-radius-medium);
    padding: 0.5rem;
    min-height: 3rem;

    &:hover {
        background-color: var(--a-surface-neutral-subtle-hover);
    }

    &:active {
        outline: none;
        box-shadow: none;
        color: var(--a-text-action);
        background-color: var(--a-surface-action-subtle);
    }
}

.disabled {
    pointer-events: none;
    color: var(--a-gray-300);
}

.iconContainer {
    > * {
        width: 1.375rem;
        height: 1.375rem;
    }
}