.path {
    margin-bottom: 0.25rem;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: flex-end;
}

.topLeft {
    margin-right: 0.5rem;
}

.header {
    margin-bottom: 0.25rem;
}

.viewSelectorWrapper {
    display: flex;
    gap: 1rem;
}
