.topSection {
    grid-area: top;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 1rem;
}
