.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    border: solid 2px var(--a-border-action);
    border-radius: var(--a-border-radius-medium);
    padding: 0.5rem 0.75rem;
    min-height: 3rem;
    background-color: var(--a-surface-action);
    color: var(--a-text-on-action);

    &:hover {
        background-color: var(--a-surface-action-hover);
    }

    &:active {
        outline: none;
        box-shadow: none;
        background-color: var(--a-surface-action-active);
    }

    &.small {
        background-color: unset;
        color: var(--a-text-action);
        border: none;
        padding: 0.25rem 0.5rem;

        &:hover {
            background-color: var(--a-surface-action-subtle-hover);
        }

        &:active {
            background-color: var(--a-surface-action-subtle);
        }
    }

    &.disabled {
        color: var(--a-gray-400);
        background-color: var(--a-gray-200);
        cursor: not-allowed;
        border: none;

        &:hover {
            background-color: var(--a-gray-300);
        }

        &:active {
            color: var(--a-gray-400);
            background-color: var(--a-gray-400);
        }
    }
}

.iconContainer {
    display: flex;
    align-items: center;

    > * {
        width: 1.5rem;
        height: 1.5rem;
    }
}