.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    border: solid 2px var(--ax-border-accent);
    border-radius: var(--ax-radius-4);
    padding: 0.5rem 0.75rem;
    min-height: 3rem;
    background-color: var(--ax-bg-accent-strong);
    color: var(--ax-text-accent-contrast);

    &:hover {
        background-color: var(--ax-bg-accent-strong-hover);
    }

    &:active {
        outline: none;
        box-shadow: none;
        background-color: var(--ax-bg-accent-strong-pressed);
    }

    &.small {
        background-color: unset;
        color: var(--ax-text-accent-subtle);
        border: none;
        padding: 0.25rem 0.5rem;

        &:hover {
            background-color: var(--ax-bg-accent-moderate-hover);
        }

        &:active {
            background-color: var(--ax-bg-accent-soft);
        }
    }

    &.disabled {
        color: var(--ax-neutral-500);
        background-color: var(--ax-neutral-300);
        cursor: not-allowed;
        border: none;

        &:hover {
            background-color: var(--ax-neutral-400);
        }

        &:active {
            color: var(--ax-neutral-500);
            background-color: var(--ax-neutral-500);
        }
    }
}

.iconContainer {
    display: flex;
    align-items: center;

    > * {
        width: 1.5rem;
        height: 1.5rem;
    }
}
