name: PR Checks
on:
    pull_request:
        branches:
            - main

jobs:
    lint:
        name: Run linters
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
            - name: Setup node.js
              uses: actions/setup-node@v6
              with:
                  node-version: '24'
                  registry-url: 'https://npm.pkg.github.com'
                  cache: 'npm'
                  cache-dependency-path: '**/package-lock.json'
            - name: Install dependencies
              run: npm ci --ignore-scripts --include-workspace-root --workspace=common --workspace=legacy-archive
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
            - name: Run lint
              run: npm run lint
