.root {
    width: 100%;
}

.content {
    align-items: flex-start;

    &:not(.disabled):hover {
        & > .label {
            text-decoration: underline;
        }
    }
}

.disabled {
    cursor: default;
}

.iconContainer {
    align-items: center;
    min-height: 1.375rem;
}